  <center> 
  <h2> 
  <%= link_to_unless_current Rails.application.class.module_parent.name, root_path %>
  </h2>
  </center>
  <%= link_to "Inboxes", inboxes_path%>
  <%= link_to "New Inbox", new_inbox_path%>
  <hr>
  